---
// components
import Container from "../../elements/Container.astro";
import Heading from "../../elements/Heading.astro";
import ResumeDropdown from "../../elements/ResumeDropdown.astro";
import ContainerBottom from "../../elements/ContainerBottom.astro";

// content
const education = [
    { 
        title: "Bachiller Académico",
        place: "Colegio San Alejo",
        period: "2013 - 2023",
        text: "Realicé mis estudios de educación secundaria, cumpliendo con el plan académico general."
    },
    { 
        title: "Ingeniería de Sistemas",
        place: "Universidad el Bosque",
        period: "2024 - Presente",
        text: "Actualmente en formación, enfocándome en desarrollo de software, bases de datos, programación y creación de interfaces gráficas modernas y funcionales."
    }
]
---

<Container variant={'md'}>
    <Heading tagName="h2" tagSize="h2" class="text-center">Educación</Heading>
    <div class="flex flex-col gap-4">
        <Container class="flex flex-col gap-4 p-6 border-3 border-base-900">
            {
                education.map((i) => (
                    <ResumeDropdown title={i.title} place={i.place} period={i.period} text={i.text} />
                ))
            }
        </Container>
        <ContainerBottom /> 
    </div>
    
</Container>
