---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"p"> {
    variant?: "xsm" | "sm" | "md" | "lg" | "xl"
}

const { variant = "sm", class: className, ...rest } = Astro.props;

// common styling for all text variants
const baseStyle = "";

// different font sizes and styling for each text variant
const variantStyle = {
    xsm: "text-12 font-mono text-base-900",
    sm: "text-16 font-mono text-base-900",
    md: "text-20 font-mono font-semibold uppercase text-base-700",
    lg: "text-32 font-grunge text-base-900",
    xl: "text-40 font-grunge text-base-900"
}
---

<p class:list={[baseStyle, variantStyle[variant]]} {...rest}><slot /></p>